<div class="style-selector">
  <label for="clockStyle">Seleccionar estilo:</label>
  <select id="clockStyle" (change)="onStyleChange($event)" [value]="selectedClockStyle">
    <option value="clock1">Estilo Cuadrados y Triángulos</option>
    <option value="clock2">Estilo Letras</option>
    <option value="clock3">Estilo Palabras</option>
    <option value="clock4">Estilo Colores</option>
    <option value="clock5">Estilo Puntos</option>
  </select>
</div>

<!-- Contenedor para el reloj seleccionado -->
<router-outlet></router-outlet>
