.time-controls {
  text-align: center;
}

button {
  margin-right: 150px;
  padding: 10px 20px;
  font-size: 10px;
  width: 100px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}
h2 {
  font-size: 3rem; 
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  margin-left: 440px;
}
.figures-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: row; 
  width: 100%;
  margin-top: 10px;
}

.square-container,
.triangle-container,
.circle-container {
  width: 300px; 
  height: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;

}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.square {
  width: 40px; 
  height: 40px;
  background-color: #3498db;
  margin: 0 5px; 
  display: inline-block;
  animation: fall 0.5s ease-in-out forwards;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid #e74c3c;
  display: inline-block;
  margin: 2px;
  animation: fall 0.5s ease-in-out forwards; 
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2ecc71;
  margin: 2px;
  display: inline-block;
  animation: fall 0.5s ease-in-out forwards; 
}
