<div>
  <h2>
    <span *ngFor="let item of timeInWords" [ngStyle]="{'color': item.color}">
      {{ item.word }}&nbsp;
    </span>
  </h2>

  <div class="time-controls">
    <button (click)="modifyTime('hours', 1)">
      <i class="fa-solid fa-angle-up"></i> Hora +
    </button>
    <button (click)="modifyTime('minutes', 1)">
      <i class="fa-solid fa-angle-up"></i> Minuto +
    </button>
    <button (click)="modifyTime('seconds', 1)">
      <i class="fa-solid fa-angle-up"></i> Segundo +
    </button>

    <button (click)="modifyTime('hours', -1)">
      <i class="fa-solid fa-angle-down"></i> Hora -
    </button>
    <button (click)="modifyTime('minutes', -1)">
      <i class="fa-solid fa-angle-down"></i> Minuto -
    </button>
    <button (click)="modifyTime('seconds', -1)">
      <i class="fa-solid fa-angle-down"></i> Segundo -
    </button>
  </div>
</div>
