.clock-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Courier New", Courier, monospace;
}

.time-display {
  font-size: 3rem;
  margin-bottom: 20px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  transform: rotate(-90deg); /* Para que empiece desde la parte superior */
}

.circle-background {
  fill: none;
  stroke: #ddd;
  stroke-width: 10;
}

.circle-progress {
  fill: none;
  stroke: #0f0;
  stroke-width: 10;
  stroke-dasharray: 282.74; /* Circunferencia del círculo (2 * PI * r) */
  stroke-dashoffset: 282.74; /* Comienza desde el principio */
  transition: stroke-dashoffset 1s;
}

.label {
  margin-top: 10px;
  font-size: 1.2rem;
}

